body {
    background: url(./images/bg-big1.jpg);
    background-size:cover;
}
.navbar-collapse{
    font-size: 16px;
}
#icon-king #brand{
    height: 40px;
}
#icon-king a{
    padding:5px;
}
#card {
    min-width: 300px;
    width: 40%;
    background: rgba(158, 158, 158, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

#quote-p {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}

#author {
    height: 25px;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-right: 50px;
}

#button-div {
		padding-top: 10px;
    height: 40px;
		position: relative;
}
#weibo{
}
#change{
}
/*#weibo span{
		font-size: 20px;
	text-decoration: none;
	color: #fff;
}
#change span{
	font-size: 20px;
	text-decoration: none;
	color: #fff;

}*/
.weibo-span{
	position: absolute;
	left: 25%;
	margin-left: 0;
}
.change-span{
	position: absolute;

	left: 70%;
	margin-left: 0;

}
.icon {
	line-height: 40px;
   width: 2em; height: 2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.navbar-fixed-bottom{
    display: none;
}
@media screen and (max-width: 1280px) {
    body{
    background-image: url(./images/bg-middle.jpg);
    background-position: top center;
    background-size: cover;
}
}
@media screen and (max-width: 736px) {
    body{
    background-image: url(./images/bg-ms.jpg);
    background-position: top center;
    background-size: cover;
}
}
@media screen and (max-width: 480px) {
    #card {
    position: inherit;
    transform: none;
    margin:80px auto 0px;

}
body{
    background-image: url(./images/bg-phone1.jpg);
    background-position: top center;
    background-size: cover;
}
#quote-p {
    padding-top: 16px;
    font-size: 24px;

}

#author {
    height: 26px;
    color: #fff;
    font-size: 16px;
    text-align: right;
    padding-right: 50px;
}
.navbar-fixed-bottom{
    display: block;
}
}
